.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  padding-top: 6px;
  border: 1px solid #a7a7a7;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: gray;

  .emptyList {
    width: 100%;
    padding: 11px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
  }

  div:last-child {
    border-bottom: 1px solid gray;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (min-width: 300px) {
      flex-direction: row;
    }

    .countInfo {
      font-size: 14px;
      cursor: default;
    }

    .clearCompletedBtn {
      font-size: 14px;
      color: grey;

      &:hover {
        color: red;
      }
    }
  }
}
