.empty-list-todos {
  font-family: "Comic Sans", cursive, sans-serif;
  color: grey;
  border-radius: 3rem;
  margin-top: 1rem;
  background-color: #fff;
  padding: 1rem;
  width: calc(100% - 2rem);
  border: 1px solid lightgray;
}

.list-todos {
  margin-top: 1rem;
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-collapse: collapse;
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  padding: 1rem;
  overflow-y: scroll;
  box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);

  .todo-container:first-child {
    border-top: 1px solid gray;
  }

  .todo-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    border-bottom: 1px solid gray;
  }
}

.list-todos::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border: 5px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

.list-todos::-webkit-scrollbar {
  width: 16px;
}

.completed {
  .btn {
    color: lightgray;
  }
  .text-column {
    text-decoration: line-through;
    color: lightgray;
  }
}

.btn {
  display: flex;
  border: none;
  background: transparent;
  cursor: pointer;
  color: grey;

  &.btn-delete {
    &:hover {
      color: red;
    }
  }
}

.text-column {
  font-family: "Comic Sans", cursive, sans-serif;
  color: #676767;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 3px;
  flex: 1;
}
